<%- layout('layout/boilerplate') %>
<div class="d-flex align-items-center justify-content-center login-page">
  <div class="card login-page-card m-2">
    <img
      src="/images/tracer-dark.png"
      class="card-img-top img-fluid login-page-logo"
      alt="tracer logo"
    />
    <div class="card-body">
      <h5 class="card-title text-center">Thank you for signing up!</h5>
      <p class="card-text text-center">
        If you're seeing this message, it means that your account has not been
        activated yet. Please reach out to your team lead or a Tracer admin to
        have your account activated.
      </p>
      <p class="card-text text-center">
        Would you like to demo Tracer? Click
        <a href="/auth/login" class="login-signup-link">here</a>
        to log in and select a demo user!
      </p>
    </div>
  </div>
</div>
