<div
  class="d-flex flex-column flex-shrink-0 p-3 sidebar d-none d-sm-block"
  id="sidebar"
>
  <div class="unexpand-sidebar-btn-container d-none text-white text-end">
    <svg
      id="unexpand-sidebar-button"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="currentColor"
      class="bi bi-x-lg"
      viewBox="0 0 16 16"
    >
      <path
        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
      />
    </svg>
  </div>
  <div class="container p-3 sidebar-img">
    <img src="/images/tracer-light.png" alt="tracer logo" class="img-fluid" />
  </div>
  <hr class="border border-1" />
  <div class="container text-center text-white">
    <%= formatName(currentUser.first_name, currentUser.last_name) %>
    <p class="m-0"><%= rolePrint(currentUser.userRoleRefId) %></p>
  </div>
  <hr class="border border-1" />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link text-white nav-link-with-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-clipboard-data"
          viewBox="0 0 16 16"
        >
          <path
            d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"
          />
          <path
            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
          />
          <path
            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
          />
        </svg>
        Dashboard
      </a>
    </li>
    <% if(currentUser.userRoleRefId==="ur1") { %>
    <li>
      <a href="/dashboard/user" class="nav-link text-white nav-link-with-logo">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-people"
          viewBox="0 0 16 16"
        >
          <path
            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"
          />
        </svg>
        Users
      </a>
    </li>
    <% } %> <% if(currentUser.userRoleRefId !== "ur4") {%>
    <li class="mb-1 nav-item">
      <button
        class="btn btn-toggle align-items-center rounded nav-link-with-logo text-white btn-toggle-side"
        data-bs-toggle="collapse"
        data-bs-target="#projects-collapse"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-folder"
          viewBox="0 0 16 16"
        >
          <path
            d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"
          />
        </svg>
        Projects
      </button>
      <div class="collapse" id="projects-collapse" data-parent="#sidebar">
        <ul class="fw-normal pb-1 text-white">
          <li class="mx-4 my-1">
            <a
              href="/dashboard/projects"
              class="text-white text-decoration-none rounded"
              >All Projects</a
            >
          </li>
          <% if(currentUser.userRoleRefId === "ur1" || currentUser.userRoleRefId
          === "ur2"){ %>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/projects/new"
              class="text-white text-decoration-none rounded"
              >Add Projects</a
            >
          </li>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/projects/myProject"
              class="text-white text-decoration-none rounded"
              >My Projects</a
            >
          </li>
          <% } %>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/projects/archive"
              class="text-white text-decoration-none rounded"
              >Project Archive</a
            >
          </li>
        </ul>
      </div>
    </li>
    <% } %>
    <li class="mb-1 nav-item">
      <button
        class="btn btn-toggle align-items-center rounded nav-link-with-logo text-white btn-toggle-side"
        data-bs-toggle="collapse"
        data-bs-target="#tickets-collapse"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-file-earmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"
          />
        </svg>
        Tickets
      </button>
      <div class="collapse" id="tickets-collapse" data-parent="#sidebar">
        <ul class="fw-normal pb-1 text-white">
          <li class="mx-4 my-1">
            <a
              href="/dashboard/ticket"
              class="text-white text-decoration-none rounded"
              >All Tickets</a
            >
          </li>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/ticket/addTicket"
              class="text-white text-decoration-none rounded"
              >Add Tickets</a
            >
          </li>
          <% if(currentUser.userRoleRefId === "ur3" || currentUser.userRoleRefId
          === "ur4"){ %>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/ticket/myTicket"
              class="text-white text-decoration-none rounded"
              >My Tickets</a
            >
          </li>
          <% } %>
          <li class="mx-4 my-1">
            <a
              href="/dashboard/ticket/archive"
              class="text-white text-decoration-none rounded"
              >Ticket Archive</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
;
