.login-page {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../images/landing-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #263871 !important;
}

.login-page-card {
  width: 500px;
}

.login-page-logo {
  width: 300px;
  margin: auto;
}

.signup-login-link {
  color: var(--primary-dark-blue);
}
