<%- layout('layout/dashboard') %>
<div class="p-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card p-3">
        <div class="card-body">
          <h4 class="card-title">Thank you for exploring Tracer!</h4>
          <p class="card-text">
            Tracer is still on its Demo phase so we're not allowing any account
            setting updates as of the moment, especially on demo accounts. We
            appreciate your understanding and feel free to explore Tracer some
            more!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
