<%- layout('layout/boilerplate') %>

<div class="d-flex align-items-center justify-content-center landing-page">
  <div class="card landing-page-card m-2">
    <img
      src="/images/tracer-dark.png"
      class="card-img-top img-fluid landing-page-logo"
      alt="tracer logo"
    />
    <div class="card-body">
      <h5 class="card-title">A bug tracking application</h5>
      <p class="card-text">
        Boost your developer team's productivity through the Tracer platform!
        It's so easy!
      </p>
      <div class="d-grid">
        <a href="/auth/login" class="btn btn-theme-dark"> Get Started </a>
      </div>
    </div>
  </div>
</div>
